@{
    Layout = "_LayoutLogin";
}

<div class="container access-denied-container">
    <h2>Accesso Negato</h2>
    <p>Non hai i permessi per accedere a questa pagina.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Torna al Login</a>
</div>
