@model IEnumerable<S5_L5_Progetto_Settimanale_AndreaGuarnieri.Models.TipoViolazione>

<h2>Elenco Violazioni</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Descrizione</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Descrizione</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
                <td>
                    <a href="/Violazione/Edit/@item.Idviolazione" class="btn btn-warning">Modifica</a>
                    <form asp-action="Delete" method="post" class="d-inline" onsubmit="return confirm('Sei sicuro di voler cancellare questa violazione?');">
                        <input type="hidden" name="id" value="@item.Idviolazione" />
                        <button type="submit" class="btn btn-danger">Cancella</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-3">
    <a href="/Violazione/Create" class="btn btn-primary">Aggiungi Nuova Violazione</a>
</div>
