@model IEnumerable<S5_L5_Progetto_Settimanale_AndreaGuarnieri.Models.VerbaliPerTrasgressoreViewModel>

<h2>Totale Verbali Trascritti per Trasgressore</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th>Totale Verbali</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <td>@item.TotaleVerbali</td>
            </tr>
        }
    </tbody>
</table>
